<div class="img">
    <h2 style="text-align:center; color: rgb(34, 30, 30); margin-right: 10%;"><B>OUR TEAM</B></h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <h5 class="card-title">ANIRBAN NAG</h5>
                <p class="card-text">He is the team leader for our project. He has efficiently handled the front view and
                    integration. We all are delighted to appericate his competency in leadership. </p>
                <h5>Thank You</h5>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h5 class="card-title">AAKRITY GHOSH</h5>
                <p class="card-text">She has efficiently managed the controller part as well as the integration of our
                    project. We all are delighted to appericate her contribution. </p>
                <h5>Thank You</h5>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h5 class="card-title">AJIT KUMAR</h5>
                <p class="card-text">He has efficiently managed the documentation of our project and support in other
                    modules. We all are delighted to appericate his contribution.</p>
                <h5>Thank You</h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="card">
                <h5 class="card-title">ANAM KHAN</h5>
                <p class="card-text">She has taken care of the DAO layer and database designing for our project. We all
                    are delighted to appericate her contribution.</p>
                <h5> Thank You</h5>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h5 class="card-title">DEBAPRIYA NATH</h5>
                <p class="card-text">She has wonderfully managed the DAO layer and Testing module of our prject. We all are delighted to
                    appericate her contribution in the rest modules.</p>
                <h5>Thank You </h5>
            </div>
        </div>
    </div>

<footer>
    Copyrights &copy; 2021 All Rights Reserved by SMS.
</footer>
</div>