<div class="img">
    <div class="row" style="padding-left: 20%;">
        <div class="column">
            <div class="student" style="width: 18rem;">
                <img class="card-img-top" src="assets/images/pexels-agung-pandit-wiguna-3401403.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title student</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>


                <button type="button" class="btn btn-info" routerLink="/studentlist" routerLinkActive="active">click
                    here</button>


            </div>
        </div>
        <div class="column">
            <div class="course" style="width: 18rem;">
                <img class="card-img-top" src="assets/images/pexels-luis-gomes-546819.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title course</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>



                <button type="button" class="btn btn-info" routerLink="/courselist" routerLinkActive="active">click
                    here</button>

            </div>
        </div>
    </div>
</div>