<div class="img">
    <div class="row" style="padding-left: 20%;">
        <div class="column">
            <div class="student" style="width: 18rem;">
                <img class="card-img-top" src="assets/images/pexels-gabby-k-6194333.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">MANAGE STUDENTS</h5>
                    <p class="card-text">want to create edit remove search student ?</p>
                </div>


                <button type="button" class="btn btn-info" routerLink="/studentlist" routerLinkActive="active">click
                    here</button>


            </div>
        </div>
        <div class="column">
            <div class="course" style="width: 18rem;">
                <img class="card-img-top" src="assets/images/pexels-luis-gomes-546819.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">MANAGE COURSES</h5>
                    <p class="card-text">want to create edit remove search course ?</p>
                </div>



                <button type="button" class="btn btn-info" routerLink="/courselist" routerLinkActive="active">click
                    here</button>

            </div>
        </div>
        <div class="column">
            <div class="enrolled_course" style="width: 18rem;">
                <img class="card-img-top" src="/assets/images/pexels-pixabay-262438.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">ENROLLED COURSES</h5>
                    <p class="card-text">want to change the status of course?</p>
                </div>



                <button type="button" class="btn btn-info" routerLink="/coursestatus" routerLinkActive="active">click
                    here</button>

            </div>
        </div>
    </div>
</div>