/* .main{
    margin-bottom: -10px;
    /* height: -10%;
    padding-bottom: 0%; 
    
} */

.img{
   
    background-image:url('/assets/images/pexels-agung-pandit-wiguna-3401403.jpg') ;
    background-size: 100% 100%;

}