<div class="img">
    <div class="container custom-container">
        <div class="col-md-12">
          
          <h3 class="mb-3 text-center" style="color: rgb(238, 230, 221);"><B>EDIT COURSE STATUS</B></h3>
          <div class="form-content">
          <!-- <div class="form-group">
            <label style="color: blanchedalmond;">student id</label>
            <input type="text" [(ngModel)]="enrollmentData[0].student.student_id" class="form-control" placeholder="student id">
          </div>
          <div class="form-group">
            <label style="color: blanchedalmond;">course id</label>
            <input type="text" [(ngModel)]="enrollmentData[0].course.course_id" class="form-control" placeholder="course fees">
          </div><div class="form-group"> -->
            <div class="form-group">
            <label style="color: blanchedalmond;">course status</label>
            <input type="text" [(ngModel)]="enrollmentData[0].sc_status" class="form-control" placeholder="course level">
          </div>
        
          
    
          
          
        <!-- </div> -->
          <div class="button">
            <button class="btn btn-dark" (click)="updateEnrollment()">UPDATE status</button>
          </div>
        </div>
          
        </div>
      </div>
      </div>
      
    